header .my_nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  border-bottom: 1px solid grey;
}

header .my_nav .logo img {
  vertical-align: baseline;
}

header .pages {
  list-style-type: none;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}

header .pages li {
  margin: 5px;
  color: #58402c;
  font-weight: bold;
}

header .pages li:last-child {
  border: 1px solid #30488f;
  border-radius: 10px;
  padding: 5px;
  color: #30488f;
}

header .pages li:last-child:hover {
  background: #30488f;
  color: white;
}

header .my_height {
  height: 600px;
  color: #58402c;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

header .my_height h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
}

header .my_height .my_style-img img {
  width: 100%;
}

header .my_height button {
  height: 35px;
  padding: 0 20px;
  color: #fff;
  font-size: 0.875rem;
  background: #30488f;
  border-radius: 7px;
  border: 0;
}

header .my_height button img {
  width: 20px;
  vertical-align: middle;
}

.my_bg {
  background: #ffe7d2;
}

.my_bg h4 {
  color: #58402c;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.my_bg .my_style-col {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.my_bg .my_style-col .img_cont {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin: 20px;
}

.my_bg .my_style-col .img_cont img {
  width: 180px;
  margin-bottom: 15px;
  height: 150px;
}

.my_bg .my_style-col .img_cont p {
  color: #58402c;
  width: 60%;
  text-align: center;
}

.my_bg .img_cont-before,
.my_bg .img_cont-after {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.my_bg .img_cont-before img,
.my_bg .img_cont-after img {
  width: 350px;
  margin-top: 20px;
}

.my_bg .img_cont-before img {
  margin-bottom: 50px;
}

/* section2 */

.my_style-cont {
  margin-top: 100px;
  margin-bottom: 100px;
}

.my_style-cont .container_img-odd {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
          align-items: center;
}

.my_style-cont .container_img-odd img {
  width: 80%;
}

.my_style-cont .container_info-odd {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  color: #58402c;
  -webkit-box-align: start;
          align-items: flex-start;
}

.my_style-cont .container_info-odd h4 {
  width: 50%;
  font-size: 30px;
  font-weight: bold;
}

.my_style-cont .container_info-odd h6 {
  width: 50%;
  font-size: 20px;
}

.my_style-cont .container_info-odd img {
  width: 300px;
}

.my_style-cont .container_info-odd a {
  text-decoration: none;
  font-size: 25px;
  color: #30488f;
}

.my_style-cont .container_img-even {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
}

.my_style-cont .container_img-even img {
  width: 80%;
}

.my_style-cont .container_info-even {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  color: #58402c;
  -webkit-box-align: end;
          align-items: flex-end;
}

.my_style-cont .container_info-even h4 {
  width: 50%;
  font-size: 30px;
  font-weight: bold;
}

.my_style-cont .container_info-even h6 {
  width: 50%;
  font-size: 20px;
}

.my_style-cont .container_info-even img {
  width: 300px;
}

.my_style-cont .container_info-even a {
  text-decoration: none;
  font-size: 25px;
  color: #30488f;
}

/* section3 */

.my_bg2 {
  background: #ffe7d2;
  color: #58402c;
  text-align: left;
}

.my_bg2 .my_info-global {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.my_bg2 .my_info-global h3 {
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
  width: 45%;
}

.my_bg2 .my_info-global h3 img {
  vertical-align: baseline;
}

.my_bg2 .my_info-global .my_global-p {
  width: 60%;
  background: white;
  border-radius: 5px;
  padding: 25px;
  position: relative;
  margin-top: 30px;
}

.my_bg2 .my_info-global .my_global-p p {
  margin-bottom: 10px;
}

.my_bg2 .my_info-global .my_global-p .quote {
  position: absolute;
  width: 5%;
  top: -4.5%;
  left: 0;
}

.my_bg2 .my_info-global .my_global-p .founders {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
}

.my_bg2 .my_info-global .my_global-p .founders img {
  width: 50px;
  margin-right: 5px;
}

.my_bg2 .my_info-global .my_global-p .founders .founders_name p {
  margin-bottom: 5px;
}

.my_bg2 .my_info-global .global_button button {
  margin-top: 20px;
  height: 35px;
  padding: 0 20px;
  color: #fff;
  font-size: 0.875rem;
  background: #30488f;
  border-radius: 7px;
  border: 0;
}

.my_bg2 .my_info-global .global_button button img {
  width: 20px;
  vertical-align: middle;
}

.my_bg2 .my_info-global .global_button p {
  text-align: center;
}

footer .col-4 {
  padding: 30px;
}

footer .footer_info ul {
  padding: 30px;
  width: calc(100 / 5)-30px;
  list-style-type: none;
  color: #58402c;
}

footer .footer_info ul li:first-child {
  font-weight: bold;
  margin-bottom: 15px;
}

footer .footer_info ul li {
  margin-bottom: 10px;
}

footer .footer_info ul a {
  text-decoration: none;
  color: #58402c;
}

footer .footer_info ul a:hover {
  color: #30488f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  border: 1px solid black;
}

.my_border {
  border-bottom: 1px solid grey;
}

