header .my_nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  border-bottom: 1px solid grey;
}

header .pages {
  list-style-type: none;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}

header .pages li {
  margin: 5px;
  color: #58402c;
  font-weight: bold;
}

header .pages li:last-child {
  border: 1px solid #30488f;
  border-radius: 10px;
  padding: 5px;
  color: #30488f;
}

header .pages li:last-child:hover {
  background: #30488f;
  color: white;
}

header .my_height {
  height: 600px;
  color: #58402c;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

header .my_height h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
}

header .my_height .my_style-img img {
  width: 100%;
}

header .my_height button {
  height: 35px;
  padding: 0 20px;
  color: #fff;
  font-size: 0.875rem;
  background: #30488f;
  border-radius: 7px;
  border: 0;
}

.my_bg {
  background: #ffe7d2;
}

.my_bg h4 {
  color: #58402c;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.my_bg .my_style-col {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.my_bg .my_style-col .img_cont {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin: 20px;
}

.my_bg .my_style-col .img_cont img {
  width: 200px;
  margin-bottom: 15px;
  height: 150px;
}

.my_bg .img_cont-before {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.my_bg .img_cont-before img {
  width: 350px;
  margin-top: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  border: 1px solid black;
}

.my_border {
  border-bottom: 1px solid grey;
}

