footer{
    .col-4{
        padding:30px;
        .glob-footer-logo{
            @include flex(flex-start);
            align-items: flex-start;
            img{
                width: 9rem;
                margin-right:10px;
            }
            p{
                font-size: 18px;
                font-weight: 600;
                color:$primary-color-text;
                a{
                    color:$second-color-text;
                }
            }
        }
    }
    .footer_info{
        ul{
            padding:30px;
            width:calc(100 / 5) - 30px;
            list-style-type: none;
            color:$primary-color-text;

            li:first-child{
                font-weight: bold;
                margin-bottom:15px;
                
            }
            li{
                margin-bottom:10px;
            }
            a{
                text-decoration: none;
                color:$primary-color-text;
                &:hover{
                    color:$second-color-text;
                }
            }
        }
    }
}