header{
    .my_nav{
        @include flex-between;
        border-bottom:1px solid grey;
        .logo{
            img{
                vertical-align: baseline;
            }
        }
    }
    .pages{
        list-style-type: none;
        @include flex-around;
        li{
            margin:10px;
            color:$primary-color-text;
            font-weight: 500;
        }
        li:last-child{
            border:1px solid $second-color-text;
            border-radius:10px;
            padding:5px;
            color:$second-color-text;
            cursor:pointer;
            .my_signup{
                svg{
                    @include icon-google-slack;
                    vertical-align: sub;
                    margin-right:10px;
                }
            }

            &:hover{
                background:$second-color-text;
                color:white;
                @include gener-transition;
                svg{
                    path{
                        fill:white ;
                        @include gener-transition;
                    }
                }
            }
        }
    }
    .my_height{
        height: 600px;
        color:$primary-color-text;
        h1{
            font-size: 50px;
            font-weight: bold;
            margin-bottom:30px;
        }
        @include flex-center;
        .my_style-img{
            img{
            width: 100%;
            }
        }
        button{
            @include button-primary;
            img{
                @include icon-google-slack;
            }
        }
        span{
            @include or-betw-button;
        }
    }
}