.my_bg{
    background:$bg-primary;
    h4{
        color:$primary-color-text;
        text-align: center;
        margin-top:20px;
        margin-bottom:50px;
    }
    .my_style-col{
        @include flex-center;
        .img_cont{
            @include flex-column;
            margin:20px;
            img{
                width:180px;
                margin-bottom:15px;
                height: 150px;
            }
            p{
                color:$primary-color-text;
                width: 60%;
                text-align: center;
            }
        }
    }
    .img_cont-before,
    .img_cont-after{
            @include flex-center;
            img{
                width:350px;
                margin-top:20px;
            }
        }
    .img_cont-before{
        img{
             margin-bottom:50px;
        }
    }
}

/* section2 */
.my_style-cont{
    .container_img{
        @include flex-end;
        img{
            width: 80%;
        }
    }
    .container_info{
        @include flex-column;
        color:$primary-color-text;
        align-items: start;
        h4{
            width:45%;
            font-size:35px;
            font-weight: bold;
        }
        h6{
            width:50%;
            font-size:25px;
        }
        img{
            width:300px;
        }
        a{
            text-decoration:none;
            font-size: 25px;
            color:$second-color-text;
        }

    }
}