@mixin flex-between{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-around{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-end{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
@mixin flex-start{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin button-primary{
    height: 35px;
    padding: 0 20px;
    color: #fff;
    font-size: .875rem;
    background: #30488f;
    border-radius: 7px;
    border:0;
    cursor: pointer;
    &:hover{
        background:#223366;
    }
}
@mixin margin-bot-top{
    margin-top:100px;
    margin-bottom:100px;
}
@mixin icon-google-slack {
    width:20px;
    vertical-align:middle;
}
@mixin gener-transition {
    transition:$generic-transition;
}
@mixin or-betw-button {
    margin:0 10px;
    font-size: small;
    color:#bdb5af;
}

/* section3 */
@mixin sect3-h4{
    width:50%;
    font-size:30px;
    font-weight: bold;
}
@mixin sect3-h6{
    width:50%;
    font-size:20px;
}
@mixin sect3-a{
    text-decoration:none;
    font-size: 20px;
    color:$second-color-text;
}
